# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
.venv/
venv/
env/
ci_sim/

# =========================
# PYTEST / CACHE
# =========================
.pytest_cache/
.cache/

# =========================
# DATA
# =========================
data/processed/
data/features/

# (optionnel : ignorer tout data sauf raw)
# data/
# !data/raw/

# =========================
# MODELS
# =========================
models/
*.joblib

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# DATABASES
# =========================
*.db
*.db-journal

# =========================
# ENV FILES
# =========================
.env

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# BUILD
# =========================
build/
dist/
*.egg-info/

# =========================
# COVERAGE
# =========================
.coverage

# =========================
# LOCAL TOOLS
# =========================
.agent/
.claude/